:root {
    --outline: 2px solid #151515;
    --blurred-background: rgba(0, 0, 0, 0.5);
    --shadow: 5px 5px 8px #2c2c2c;
    --text-color: white;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-item:hover {
    filter: invert(0) !important;
}

body {
    background-image: url("https: //lh3.googleusercontent.com/drive-viewer/AFDK6gNbi8FWhNzscZ0_RBCuMe0AkyKh-k3--QkL3Rf7kGtOiAg9F5nQi02LrV5IK8F_Nqc5snlqiSErJTjbOR4uaGN7OrxjKw=w1920-h969");
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(3) blur(20px);
}