:root {
	--outline: 2px solid #5f5f5f;
	--blurred-background: rgba(95, 95, 95, 0.5);
	--shadow: 5px 5px 8px #616161;
	--text-color: white;
}

.monaco-workbench {
	background: var(--blurred-background) !important;
}

.monaco-workbench
	.activitybar
	> .content
	:not(.monaco-menu)
	> .monaco-action-bar
	.action-item:hover {
	filter: invert(0) !important;
}
