:root {
    --outline: 2px solid #008000;
    --blurred-background: rgba(0, 128, 0, 0.5);
    --shadow: 5px 5px 8px #019701;
    --text-color: white;
}

.monaco-workbench {
    background: rgba(0, 128, 0, 0.2) !important;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-item:hover {
    filter: invert(0) !important;
}